/* Bekmyrza start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* header start */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0px auto;
  padding: 10px;
}
header {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.header {
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-weight: 700;
  font-size: 30px;
}
.navbar nav ul {
  display: flex;
  align-items: center;
}
.navbar nav ul li {
  list-style-type: none;
}
.navbar nav ul li a {
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  padding: 20px 15px;
  color: #22343d;
}
.product {
  font-weight: 600;
}
.btn_in {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  margin: 0 20px;
  font-size: 16px;
  font-weight: 600;
  color: #173a56;
}
.btn_up {
  background: #02897a;
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
/* header end */

/* section 1 start */
.section1 {
  position: relative;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.section1_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.section1_inner .left .title {
  color: #22343d;
  font-size: 40px;
  font-weight: 700;
}
.left .description {
  font-size: 18px;
  font-weight: 400;
  color: #22343d;
  margin-top: 18px;
  margin-bottom: 40px;
}
.section1_btn {
  background: #02897a;
  border-radius: 4px;
  padding: 10px 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin-right: 20px;
}
.play {
  display: flex;
  align-items: center;
}
.section1_reproduce {
  font-size: 16px;
  font-weight: 600;
  color: #02897a;
}
/* section 1 end */

/* section 2 start */
.section2 {
  position: relative;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.section2_product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
/* section 2 end */
/* Bekmyrza end */
