* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1110px;
  width: 90%;
  margin: 0px auto;
  padding: 10px;
}

/*! section 10 */
.join_100 {
  max-width: 968px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: #02897a;
  border-radius: 32px;
}

.join_100__right h3 {
  font-size: 32px;
  color: #ffffff;
  max-width: 510px;
  margin: 49px 10px 40px 50px;
}

.join_100__right button {
  width: 150px;
  height: 50px;
  border: 1px solid #02897a;
  border-radius: 8px;
  background-color: #ffffff;
  margin: 0 0 56px 51px;
}

.join_100__right button a {
  color: #02897a;
  font-size: 20px;
}

/* ! footer */

.footer {
  margin-top: 120px;
}

.footer_up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts_upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contacts_upper a p {
  color: #173a56;
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
}

.contacts_sub {
  display: flex;
  justify-content: space-between;
}

/* ! */
.resource p {
  font-size: 20px;
  font-weight: 500;
  color: #22343d;
  margin-bottom: 8px;
}

.resource ul li a {
  font-size: 16px;
  color: #22343d;
  font-weight: 400;
}

.resource ul li {
  margin-bottom: 8px;
}

/* ! */
.stuff p {
  font-size: 20px;
  font-weight: 500;
  color: #22343d;
  margin-bottom: 8px;
}

.stuff ul li a {
  font-size: 16px;
  color: #22343d;
  font-weight: 400;
}

.stuff ul li {
  margin-bottom: 8px;
}

/* ! */

.form {
  display: flex;
  flex-direction: column;
}

.form p {
  font-size: 20px;
  font-weight: 500;
  color: #22343d;
  max-width: 280px;
  margin-bottom: 34px;
}

.form input {
  width: 325px;
  height: 48px;
  margin-bottom: 21px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.form button {
  width: 131px;
  height: 39px;
  background-color: #02897a;
  border: 1px solid #02897a;
  border-radius: 4px;
}

.form button a {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

/* ! */

.footer_down {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer_down p {
  font-size: 16px;
  font-weight: 400;
  color: #22343d;
}
