@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0px auto;
    padding: 10px;
}

.section_8 {
    width: 100%;
 
}

.section_8__title h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.125rem;
    color: #22343D;
    width: 192px;
    height: 51px;
    margin: 0 auto 8px;
}

.section_8__desc .section_8__desc_h6 {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 1rem;
color: #22343D;
margin: 0 auto 50px;
width: 213px;
}

.section_8__cards{
    width: 100%;
    min-height: 456px;
    display: flex;
    justify-content: space-between;
}

.section_8__cards .card {
width: 29%;
min-height: 456px;
padding: 24px, 75px, 32px, 73px;
display: flex;
flex-direction: column;
justify-content: space-around;
margin: 0 auto;
align-items: center;
}

.section_8__cards .card .mode {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1.5rem;
line-height: 40px;
color: #22343D;
margin-bottom: 8px;
}

.section_8__cards .card .price {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 40px;
color: #22343D;

text-align: center;
}


.section_8__cards .card .table .table_num {
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 76px;
line-height: 100px;
text-align: center;
letter-spacing: 0.2px;
color: #02897A;
} 




.section_8__cards .card .price_list .price_list_one, .price_list_two, .price_list_three {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.2px;
color: #22343D;
line-height: 22px;
margin-bottom: 16px;
text-align: center;
}

.btn {
    background: #02897A;
border-radius: 8px;
padding: 10px 20px;
text-decoration: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}


.table {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table_month_dollar{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
letter-spacing: 0.1px;
color: #02897A;
}

.table_month_desc {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.1px;
color: #AFAFAF;
}


.section_8__cards .card {
    width: 322.65px;
height: 456px;
left: 136px;
top: 4847px;

background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
border-radius: 8px;
padding-top: 22px;
padding-bottom: 35px;
}


.btn_green {
  background: #FFFFFF;
    border-radius: 8px;
    color:  #02897A;
}

.section_8 {
    margin-top: 100px;
    margin-bottom: 95px;
}


.section_9__main {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 57px;
letter-spacing: 0.2px;
color: #22343D;
margin: 0 auto;
width: 302px;
margin-bottom: 8px;
}

.section_9__title {
 font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
text-align: center;
letter-spacing: 0.2px;
color: #22343D;
margin-bottom: 50px;
}

.section_9__cards {
 
    display: flex;
    justify-content: space-between;
}

.section_9__cards_list {
    width: 25%;
    background: #FFFFFF;
border: 1px solid #DEDEDE;
border-radius: 5px;
padding: 25px 25px;
display: flex;
flex-direction: column;

}

.section_9__cards_img {
    margin-bottom: 16px;
}

.section_9__cards_p {
    margin-bottom: 16px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.2px;
color: #737373;
}

.section_9__humans {
    display: flex;
    width: 150px;
    flex-direction: space-between;
   
}

.section_9__humans img{
    margin-right: 14px;
}


.section_9__humans p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color: #02897A;
}

.section_9__humans span {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #252B42;
}


@media all and (max-width: 768px) {
  

    .section_8__cards {
        flex-wrap: wrap;
       
    }
    .section_8__cards .card {
        margin-bottom: 20px;
    }

}

@media all and (max-width: 588px) {
    .section_9__cards{
        flex-wrap: wrap;
    }
    .section_9__cards_list {
    margin-bottom: 15px;
    }
}

@media all and (max-width: 552px) {
    .section_9__cards_list {
width: 60%;
align-items:center;
    }

    .section_9__cards {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
}


