/* Bekmyrza start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* header start */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0px auto;
  padding: 10px;
}
header {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-weight: 700;
  font-size: 30px;
}
.navbar nav ul {
  display: flex;
  align-items: center;
}
.navbar nav ul li {
  list-style-type: none;
}
.navbar nav ul li a {
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  padding: 20px 15px;
  color: #22343d;
  transition: all 0.4s ease-in-out;
  border-left: 0px solid #ffffff;
  border-right: 0px solid #ffffff;
}
.navbar nav ul li a:hover {
  color: #173a56;
  border-left: 15px solid #ffffff;
  border-right: 15px solid #ffffff;
}
.product {
  font-weight: 600;
}
.btn_in {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  margin: 0 20px;
  font-size: 16px;
  font-weight: 600;
  color: #173a56;
}
.btn_up {
  background: #02897a;
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
/* header end */

/* section 1 start */
.section1 {
  /* position: relative; */
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.section1_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.section1_inner .left .title {
  color: #22343d;
  font-size: 40px;
  font-weight: 700;
}
.left .description {
  font-size: 18px;
  font-weight: 400;
  color: #22343d;
  margin-top: 18px;
  margin-bottom: 40px;
}
.section1_btn {
  background: #02897a;
  border-radius: 4px;
  padding: 10px 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin-right: 20px;
}
.play {
  display: flex;
  align-items: center;
}
.section1_reproduce {
  font-size: 16px;
  font-weight: 600;
  color: #02897a;
}
/* section 1 end */

/* section 2 start */
.section2 {
  position: relative;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  background: no-repeat bottom / 100% auto url("../assets/img/Bg.png");
  padding-bottom: 50px;
}
.section2_product {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  flex-wrap: wrap;
}
.section2 h1 {
  margin-top: 90px;
}
.products {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
.products h3 {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-top: 20px;
}
.products p {
  font-weight: 400;
  font-size: 16px;
  color: #22343d;
  margin-top: 20px;
}
button {
  margin: 0 auto;
  display: block;
}
.section2_product-btn {
  border: none;
  background: #02897a;
  border-radius: 4px;
  padding: 15px 25px;
  margin-top: 35px;
}
.section2_product-btn a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
/* section 2 end */
.block-1 .container h5,
.block-2 .container h5,
.block-3 .container h5 {
    font-size: 16px;
/* Адаптивка старт*/
/* burger start */
#burger,
[for="burger"] {
  display: none;
}
@media screen and (max-width: 1130px) {
  .section1_inner .right img {
    width: 500px;
    height: 400px;
  }
}
@media screen and (max-width: 1015px) {
  .section1_inner .right img {
    width: 400px;
    height: 300px;
  }
}


@media screen and (max-width: 1000px) {
  .navbar {
    height: 50px;
  }
  [for="burger"] {
    display: block;
    /* position: fixed; */
    width: 30px;
    text-align: center;
    right: 80px;
    top: 35px;
  }
  [for="burger"]::before {
    content: "☰";
    color: #173a56;
    font-weight: 700;
    font-size: 30px;
    z-index: 2;
    transition: all 0.6s ease-in-out;
  }
  .header {
    position: fixed;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
  }
  .section1 {
    padding-top: 100px;
  }
  nav {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #173a56;
    border-radius: 0px 0px 30px 30px;
  }
  .navbar nav ul li a {
    padding: 10px 150px;
    color: white;
    font-weight: 600;
  }
  ul {
    flex-direction: column;
    align-content: space-around;
  }
  #burger:checked + label + nav {
    display: block;
  }
  #burger:checked + [for="burger"]::before {
    content: "⛌";
    position: fixed;
    right: 80px;
    z-index: 2;
    color: white;
  }
  .product {
    margin-top: 25px;
    background-color: aqua;
    border-radius: 320px 30px;
  }
  .customers {
    background-color: Crimson;
    border-radius: 320px 30px;
    margin-top: 10px;
  }
  .pricing {
    background-color: orange;
    border-radius: 30px 320px;
    margin-top: 10px;
  }
  .resources {
    background-color: Magenta;
    border-radius: 30px 300px;
    margin-top: 10px;
  }
  .btn2 {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .btn {
    margin-top: 20px;
  }
  .btn_in {
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 300px;
  }
  .btn_up {
    border-radius: 30px;
    padding: 10px 300px;
  }
  .li_a-img {
    display: none;
  }
  @media screen and (max-width: 904px) {
    .section1_inner .right img {
      width: 300px;
      height: 200px;
    }
    .btn_in {
      padding: 10px 250px;
    }
    .btn_up {
      padding: 10px 250px;
    }
    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      /* width: 40%; */
    }
    .product1 {
      padding: 0 30px;
      margin-bottom: 40px;
    }
    .product2 {
      padding: 0 30px;
    }
    .product3 {
      padding: 0 30px;
      margin-top: 40px;
    }
    .product4 {
      padding: 0 30px;
      margin-top: 40px;
    }
  }
  @media screen and (max-width: 770px) {
    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    [for="burger"] {
      right: 60px;
    }
    #burger:checked + [for="burger"]::before {
      content: "⛌";
      position: fixed;
      right: 45px;
      top: 15px;
    }
    .section2_product-btn {
      padding: 10px 20px;
    }
  }
  .section1_inner .left .title {
    font-size: 26px;
  }
  .section1_inner .left .description {
    font-size: 14px;
  }
  .section2_product h1 {
    font-size: 26px;
  }
  .left .play .section1_btn {
    padding: 7px 15px;
  }
  .left .play .section1_reproduce {
    font-size: 14px;
    font-weight: 400;
    width: 130px;
  }
  .section1_inner .right img {
    width: 250px;
    height: 230px;
  }
  .btn_in {
    padding: 10px 200px;
  }
  .btn_up {
    padding: 10px 205px;
  }
  @media screen and (max-width: 640px) {
    .section1_inner {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column-reverse;
    }
    .section1 .section1_inner .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .section2_product h1 {
      text-align: center;
    }
  }
  @media screen and (max-width: 500px) {
    #burger:checked + [for="burger"]::before {
      content: "⛌";
      position: fixed;
      right: 35px;
    }
    .navbar .logo a {
      align-items: center;
      font-size: 20px;
    }
    .navbar .logo img {
      width: 45px;
    }
    .navbar nav ul li a {
      padding: 10px 80px;
    }
    .btn_in {
      padding: 10px 100px;
    }
    .btn_up {
      padding: 10px 100px;
    }
    /* .products p {


text-align: center;
    } */
  }
  @media screen and (max-width: 330px) {
    #burger:checked + [for="burger"]::before {
      content: "⛌";
      position: fixed;
      right: 30px;
    }
    .navbar nav ul li a {
      padding: 10px 60px;
    }
  }
}
/* Адаптивка конец */
/* Bekmyrza end */
