/* container mw 1010px */
/* w 100% */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1110px;
  width: 90%;
  margin: 0px auto;
  padding: 10px;
}

/*! section 10 */
.join_100 {
  width: 968px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: #02897a;
  border-radius: 32px;
}

.join_100__right h3 {
  font-size: 32px;
  color: #ffffff;
  max-width: 510px;
  margin: 49px 10px 40px 50px;
}

.join_100__right button {
  width: 150px;
  height: 50px;
  border: 1px solid #02897a;
  border-radius: 8px;
  background-color: #ffffff;
  margin: 0 0 56px 51px;
}

.join_100__right button a {
  color: #02897a;
  font-size: 20px;
}

/* ! footer */

.footer_up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts_upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contacts_upper a p {
  color: #173a56;
  font-size: 25px;
  font-weight: bold;
  margin-left: 15px;
}

.contacts_sub {
  display: flex;
  justify-content: space-between;
}
