@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
    font-size: 16px;
}
.block-6 {
    background: no-repeat top / 100% auto url("../assets/img/Bg_half-circle.png");
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #22343D;
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: 0px auto;
    padding: 10px;
}
.block-6__header {
    font-size: 2rem;
    padding: 50px 0px 16px;
    font-weight: 700;
}
.block-6__sub-header {
    white-space: pre-line;
    line-height: 26px;
    font-weight: 500;
}
.block-6_comments {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 24px;
    padding-top: 32px;
}
.block-6__comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.block-6__comment_avatar img {
    width: 95px;
    height: 95px;
    margin: 0px 16px;
}

.block-6__comment_text {
    padding: 15px 25px;
    background-color: #FFF;
    border-radius: 30px;
    box-shadow: 0px 2px 8px #56759210;
}

.block-6__contact-button {
    line-height: 24px;
    padding: 15px 30px;
    font-weight: 700;
    color: #FFF;
    background-color: #02897A;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 48px;
    display: inline-block;
}

/* Block 7 */
.block-7__cards {
    display: flex;
}
/*  */
#first-card,
#second-card,
#third-card {
    display: none;
}
.switcher-card {
    display: flex;
    justify-content: center;
}
.switcher-card label {
    margin: 10px;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 100%;
    background-color: #02897A;
}