@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.content {
    width: 45%;
}

/*  */
/* header start */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0px auto;
  padding: 10px;
}
header {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-weight: 700;
  font-size: 30px;
}
.navbar nav ul {
  display: flex;
  align-items: center;
}
.navbar nav ul li {
  list-style-type: none;
}
.navbar nav ul li a {
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  padding: 20px 15px;
  color: #22343d;
  transition: all 0.4s ease-in-out;
  border-left: 0px solid #ffffff;
  border-right: 0px solid #ffffff;
}
.navbar nav ul li a:hover {
  color: #173a56;
  border-left: 15px solid #ffffff;
  border-right: 15px solid #ffffff;
}
.product {
  font-weight: 600;
}
.btn_in {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  margin: 0 20px;
  font-size: 16px;
  font-weight: 600;
  color: #173a56;
}
.btn_up {
  background: #02897a;
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
/* header end */


.block-1 .container,
.block-2 .container,
.block-3 .container {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0px auto;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 50px;
    transition: all 0.3s;
}

.container:hover {
    border-radius: 40px;
    box-shadow: -2px 1px 10px rgba(0, 0, 0, 0.315);
}

.icon {
    display: flex;
    align-items: center;
}

.icon p {
    padding-left: 30px;
}

.icon img {
    width: 30px;
    height: 30px;
}

.block-1 .container>img,
.block-2 .container>img,
.block-3 .container>img {
    width: 539.83px;
    height: 473.47px;
}

.block-2 {
    padding-top: 100px;
}

.block-3 {
    padding-top: 100px;
}

.block-1 .container h3,
.block-2 .container h3,
.block-3 .container h3 {
    font-size: 32px;
}

h5 {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .block-1 .container,
    .block-3 .container {
        flex-direction: column-reverse;
        /* align-items: inherit; */
    }
    .block-2 .container {
        flex-direction: column;
        /* align-items: inherit; */
    }
    .block-1 .container>img,
    .block-2 .container>img,
    .block-3 .container>img {
        width: 350px;
        height: 275px;
        align-items: center;
    }
    .content {
        width: 80%;
    }
    .main {
        padding: 5%;
    }
}

@media screen and (max-width: 430px) {
    .content {
        width: 120%;
    }
    .block-1 .container,
    .block-2 .container,
    .block-3 .container {
        align-items: center;
    }
}

@media screen and (max-width: 375px) {
    .block-1 .container>img,
    .block-2 .container>img,
    .block-3 .container>img {
        width: 250px;
        height: 200px;
    }
}